.ocultar{
    display: none;
}

.mostrar{
    display: block;
}
.pokeball{
    cursor: pointer;
    position: relative;
    right: auto;
}
#enfrentamiento{
    position: relative;
    right: auto;
}
main{
    text-align: center;
}